//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
    color: $white;
    background-color: $mainColor;
    font-family: Bebas;
    font-size: rem(15);
    line-height: math.div(25, 15);
    text-transform: uppercase;
    letter-spacing: rem(1);
    display: inline-flex;
    padding: rem(15) rem(33);
    transition: all 0.3s ease 0s;
    border: rem(1) solid transparent;
    @media (any-hover: hover) {
        &:hover {
            background-color: $white;
            border: rem(1) solid $mainColor;
            color: $mainColor;
        }
    }
    &--w {
        color: $mainColor;
        background-color: $white;
        @media (any-hover: hover) {
            &:hover {
                background-color: $mainColor !important;
                border: rem(1) solid $white !important;
                color: $white !important;
            }
        }
    }
}
