//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input {
    border-radius: 0;
    width: 100%;
    display: block;
    padding: 0px rem(18);
    min-height: rem(50);
    background-color: #252525;
    border: rem(2) solid #959595;
    font-size: rem(15);
    line-height: math.div(25, 15);
    color: #959595;
    &:focus-visible {
        outline-offset: rem(-1);
        outline: white solid rem(1);
    }
    &._form-focus {
    }
    &._form-error {
        color: red;
        border: rem(2) solid #ff0000;
    }
}
textarea.input {
    resize: none;
    height: rem(100);
    padding: rem(10) rem(18);
}

._form-error {
    .form__error {
        color: red;
        padding-top: rem(5);
        font-size: rem(10);
    }
}
