.footer {
    &__container {
        display: flex;
        height: rem(125);
        justify-content: space-between;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
            height: auto;
            padding: rem(15) 0px;
        }
    }

    &__column {
    }

    &__text {
        text-align: center;
        font-size: rem(15);
        line-height: math.div(25, 15);
        color: $gray;
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__logo {
        @media (max-width: $mobile) {
            display: inline-flex;
            margin-bottom: rem(15);
        }
        img {
            max-width: 100%;
        }
    }
}
