.private {
    margin-bottom: rem(75);
    @media (max-width: $tablet) {
        margin-bottom: rem(40);
    }
    background-color: #000;
    display: flex;
    &__column {
        flex: 0 1 50%;
        @media (max-width: $tablet) {
            flex: 1 1 100%;
            &:first-child {
                display: none;
            }
        }
    }

    &__image-ibg {
        height: 100%;
    }
}

.private-body {
    padding: rem(75) 0px rem(75) rem(60);
    @media (max-width: $tablet) {
        padding: rem(50) rem(15);
    }
    &__content {
        max-width: rem(305);
        color: $white;
        @media (max-width: $tablet) {
            max-width: 100%;
            text-align: center;
        }
    }
    &__title {
        font-family: Akzidenz;
        font-size: rem(50);
        line-height: math.div(50, 50);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: rem(30);
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
        @media (max-width: $pc) {
            font-size: rem(35);
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }

    &__text {
        line-height: math.div(25, 15);
        &:not(:last-child) {
            margin-bottom: rem(50);
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        @media (max-width: $tablet) {
            justify-content: center;
        }
    }

    &__button {
        margin-right: rem(15);
    }

    &__link {
        font-family: Bebas;
        line-height: math.div(25, 15);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $white;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//========================================================================================================================================================

.products {
    @media (min-width: $tablet) {
        margin-bottom: rem(40);
    }
    &__column {
        margin-bottom: rem(40);
        flex: 0 1 25%;
        @media (max-width: $tablet) {
            flex: 0 1 50%;
        }
        @media (max-width: em(380)) {
            flex: 1 1 100%;
        }
    }
    &__body {
        display: flex;
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
    }
}

.products-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    &__image-ibg {
        display: inline-flex;
        padding-bottom: 100%;
        &:not(:last-child) {
            margin-bottom: rem(25);
        }
    }

    &__body {
        flex: 1 1 auto;
        padding: 0px rem(5);
        display: flex;
        flex-direction: column;
    }
    &__title {
        max-width: rem(185);
        font-family: Akzidenz;
        font-size: rem(25);
        line-height: math.div(25, 25);
        text-transform: uppercase;
        letter-spacing: rem(2.5);
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gray;
            }
        }
        @media (max-width: em(380)) {
            max-width: none;
            text-align: center;
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__text {
        flex: 1 1 auto;
        max-width: rem(195);
        &:not(:last-child) {
            margin-bottom: rem(25);
        }
        line-height: math.div(25, 15);
        @media (max-width: em(380)) {
            max-width: none;
            text-align: center;
        }
    }

    &__button {
        justify-content: center;
        &:not(:last-child) {
            margin-bottom: rem(25);
        }
    }

    &__link {
        display: flex;
        font-family: Bebas;
        line-height: math.div(25, 15);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
//====================================================================================================

.why {
    margin-bottom: rem(80);
    @media (max-width: $mobile) {
        margin-bottom: rem(40);
    }

    &__top {
    }
}
.why-top {
    display: flex;
    background-color: $mainColor;
    &__column {
        flex: 0 1 50%;
        @media (max-width: $pc) {
            flex: 1 1 100%;
            &:last-child {
                display: none;
            }
        }
    }
    &__text {
        text-align: right;
        font-family: Akzidenz;
        font-size: rem(50);
        line-height: math.div(50, 50);
        text-transform: uppercase;
        letter-spacing: rem(5);
        color: $white;
        padding: rem(50) rem(60);
        @media (max-width: $pc) {
            text-align: center;
            padding: rem(30) rem(40);
            font-size: rem(40);
        }
        @media (max-width: $tablet) {
            padding: rem(20) rem(30);
            font-size: rem(30);
        }
    }
    &__image-ibg {
        height: 100%;
    }
}

.why-body {
    padding-top: rem(50);
    background-color: #ebebeb;
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    &__column {
        flex: 0 1 50%;
        margin-bottom: rem(50);
        @media (max-width: $pc) {
            flex: 1 1 100%;
        }
        @media (max-width: $mobile) {
            margin-bottom: rem(30);
        }
    }
}
.why-body-item {
    display: flex;
    &__icon {
        flex: 0 0 rem(100);
        height: rem(100);
        background-color: $mainColor;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $mobile) {
            flex: 0 0 rem(80);
            height: rem(80);
            img {
                max-width: 100%;
            }
        }
    }

    &__body {
        padding-left: rem(12);
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        flex: 1 1 auto;
        display: block;
        font-family: Akzidenz;
        font-size: rem(25);
        line-height: math.div(25, 25);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        @media (max-width: $mobile) {
            font-size: rem(20);
        }
    }

    &__text {
        line-height: math.div(25, 15);
        @media (min-width: $mobile) {
            padding-top: rem(10);
        }
    }
}
//====================================================================================================

.contacts {
    &__container {
        @media (min-width: $mobile) {
            margin-bottom: rem(30);
        }
    }

    &__title {
        font-family: Akzidenz;
        font-size: rem(50);
        line-height: math.div(50, 50);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
    }

    &__column {
        flex: 0 1 50%;
        @media (max-width: $tablet) {
            flex: 1 1 100%;
        }
    }

    &__item {
        display: inline-block;
        line-height: math.div(27, 15);
        padding-left: rem(35);
        margin-bottom: rem(20);
    }

    &__item--1 {
        background: url("../img/icons/05icon.png") 0 0 no-repeat;
    }

    &__item--2 {
        background: url("../img/icons/07icon.png") 0 0 no-repeat;
    }

    &__item--3 {
        background: url("../img/icons/06icon.png") 0 0 no-repeat;
    }

    &__social {
        display: flex;
    }
    &__social-item {
        margin: 0px rem(30) rem(30) 0px;
        &:last-child {
            margin: 0;
        }
    }
}

.contacts-content {
    display: flex;
    background-color: $mainColor;
    @media (max-width: $tablet) {
        display: block;
    }
    &__column {
        flex: 0 1 50%;
    }

    &__map {
        height: 100%;
        width: 100%;
        @media (max-width: $tablet) {
            height: rem(300);
        }
    }
}
.contacts-content-form {
    padding: rem(55) 0px rem(55) rem(60);
    @media (max-width: $tablet) {
        padding: rem(30) rem(15);
    }
    &__title {
        &:not(:last-child) {
            margin-bottom: rem(28);
        }
        font-family: Akzidenz;
        font-size: rem(25);
        line-height: math.div(25, 25);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $white;
    }
    &__body {
        @media (min-width: $mobileSmall) {
            max-width: rem(375);
        }
    }
    &__line {
        margin-bottom: rem(25);
        &:last-child {
            margin: 0px 0px 0px 0px;
        }
    }
    &__button {
        @media (max-width: $mobileSmall) {
            width: 100%;
            justify-content: center;
        }
    }
}
